<header class="docs-header">
  <h1 class="docs-heading">Cookie</h1>
  <section class="docs-intro">
    <i>class Cookie</i>
    <br><br>
    <p>
      Manipulate with the browser cookies.
      <pre><code class="language-js">
const { Controller, syslib } = require('regoch-web');

class MyCtrl extends Controller {
  constructor(app) {
    const cookieOpts = {
      domain: 'localhost',
      path: '/',
      expires: 5, // number of hours or exact date
      secure: false,
      httpOnly: false,
      sameSite: 'strict' // 'strict' for GET and POST, 'lax' only for POST
    };
    this.cookie = new syslib.Cookie(cookieOpts);
  }
}
      </code></pre>
    </p>
  </section>
</header>

<section class="docs-section" id="item-11-1">
  <h2 class="section-heading">Properties</h2>
  <table style="width:100%">
    <tr>
      <th>Property</th>
      <th>Description</th>
      <th>Type</th>
      <th>Default</th>
    </tr>
    <tr>
      <td>cookieOpts</td>
      <td>cookie options (see the tablebelow)</td>
      <td>object</td>
      <td></td>
    </tr>
    <tr>
      <td>debug</td>
      <td>show debug messages</td>
      <td>boolean</td>
      <td>false</td>
    </tr>
  </table>

  <br><br>
  <h4>cookieOpts</h4>
  <table style="width:100%">
    <tr>
      <th>Property</th>
      <th>Description</th>
      <th>Type</th>
      <th>Default</th>
    </tr>
    <tr>
      <td>domain</td>
      <td>the cookie domain name</td>
      <td>string</td>
      <td></td>
    </tr>
    <tr>
      <td>path</td>
      <td>the cookie path</td>
      <td>string</td>
      <td></td>
    </tr>
    <tr>
      <td>expires</td>
      <td>number of hours when cookie will expire or exact expiration date</td>
      <td>number|Date</td>
      <td></td>
    </tr>
    <tr>
      <td>secure</td>
      <td>is https</td>
      <td>boolean</td>
      <td>false</td>
    </tr>
    <tr>
      <td>httpOnly</td>
      <td>when true then not accessible to javascript</td>
      <td>boolean</td>
      <td>false</td>
    </tr>
    <tr>
      <td>sameSite</td>
      <td>CORS</td>
      <td>Strict | Lax | None</td>
      <td></td>
    </tr>
  </table>

  <br><br>
  More info at <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies" target="_blank">https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies</a>
</section>

<section class="docs-section" id="item-11-2">
  <h2 class="section-heading">Methods</h2>
  <p>Use this methods in the controller after "Cookie" class is instantiated.</p>
  <ul class="methods">
    <li>
      <b>put <i>(name :string, value :string): void</i></b>
      <p class="desc">Set cookie. Cookie value is string.</p>
    </li>
    <li>
      <b>putObject <i>(name :string, value :object): void</i></b>
      <p class="desc">Set cookie. Cookie value is object.</p>
    </li>
    <li>
      <b>getAll <i>(): string</i></b>
      <p class="desc">Get all cookies in string format (cook1=jedan1; cook2=dva2;).</p>
    </li>
    <li>
      <b>get <i>(name :string): string</i></b>
      <p class="desc">Get a cookie by specific name. Returned value is string.</p>
    </li>
    <li>
      <b>getObject <i>(name :string): object</i></b>
      <p class="desc">Get a cookie by specific name. Returned value is object.</p>
    </li>
    <li>
      <b>remove <i>(name :string): void</i></b>
      <p class="desc">Remove cookie by specific name.</p>
    </li>
    <li>
      <b>removeAll <i>(): void</i></b>
      <p class="desc">Remove all cookies.</p>
    </li>
    <li>
      <b>exists <i>(name :string): boolean</i></b>
      <p class="desc">Check if the cookie exists.</p>
    </li>
  </ul>
</section>


<section class="docs-section" id="item-11-3">
  <h2 class="section-heading">Example</h2>
  <pre><code class="language-javascript">
const { Controller, syslib } = require('regoch-web');

class MyCtrl extends Controller {
  constructor(app) {
    const cookieOpts = {
      domain: 'localhost',
      path: '/',
      expires: 5, // number of days or exact date
      secure: false,
      httpOnly: false,
      sameSite: 'strict' // 'strict' for GET and POST, 'lax' only for POST
    };
    this.cookie = new syslib.Cookie(cookieOpts);
  }

  test() {
    this.cookie.put(cookieName, cookieValue);
    this.cookie.putObject('someObj', {x:22,y:'str'});
    console.log(this.cookie.getAll());
    console.log(this.cookie.get(cookieName));
    console.log(this.cookie.getObject('someObj'));
    this.cookie.remove(cookieName);
    this.cookie.removeAll();
    this.cookie.empty(cookieName);
    console.log(this.cookie.exists(cookieName));
  }

}
  </code></pre>
</section>
