<header class="docs-header">
  <h1 class="docs-heading">eventEmitter</h1>
  <section class="docs-intro">
    <i>instance of the class EventEmitter</i>
    <br><br>
    <p>Emit or listen the events on an easy way simmilar to NodeJS environment. All events are attached to "window" object.</p>
  </section>
</header>

<section class="docs-section" id="item-12-2">
  <h2 class="section-heading">Methods</h2>
  <p>Use this methods in the controller after "Cookie" class is instantiated.</p>
  <ul class="methods">
    <li>
      <b>emit <i>(eventName :string, detail :any): &lt;void&gt;</i></b>
      <p class="desc">Create and emit the event with the custom detail data.</p>
    </li>
    <li>
      <b>on <i>(eventName :string, listener :Function): &lt;void&gt;</i></b>
      <p class="desc">Attach the event listener. The listener function will be executed on every catched event.</p>
    </li>
    <li>
      <b>once <i>(eventName :string, listener :Function): &lt;void&gt;</i></b>
      <p class="desc">Attach the event listener. The listener function will be executed only first time on catched event.</p>
    </li>
    <li>
      <b>off <i>(eventName :string, listener :Function): &lt;void&gt;</i></b>
      <p class="desc">Remove the event listener for specific event.</p>
    </li>
    <li>
      <b>offAll <i>(eventName :string): &lt;void&gt;</i></b>
      <p class="desc">Remove all event listeners for specific event.</p>
    </li>
    <li>
      <b>getListeners <i>(): &lt;object[]&gt;</i></b>
      <p class="desc">returns all the active event listeners.</p>
    </li>
  </ul>
</section>


<section class="docs-section" id="item-12-3">
  <h2 class="section-heading">Example</h2>
  <pre><code class="language-javascript">
const { Controller, syslib } = require('regoch-web');

class MyCtrl extends Controller {
  constructor(app) {
   super();
  }

  async init(trx) {
     this.eventEmitter = new syslib.eventEmitter;
  }

  test() {
    this.eventEmitter.emit('myEvt', {a: 33});
    this.eventEmitter.on('myEvt', event => { console.log(event.a); });
    this.eventEmitter.off('myEvt');
  }

}
  </code></pre>
</section>
