<header class="docs-header">
  <h1 class="docs-heading">DataRg</h1>
  <section class="docs-intro">
    <i>class DataRg extends DataRgListeners</i>
    <br><br>
    <p>Parse HTML elements with the "data-rg-" attribute (non-listeners)</p>
  </section>
</header>

<section class="docs-section" id="item-5-1">
  <h2 class="section-heading">Properties</h2>
  <table style="width:100%">
    <tr>
      <th>Property</th>
      <th>Description</th>
      <th>Type</th>
    </tr>
    <tr>
      <td>$rg</td>
      <td>{separator, elems, listeners, varnameChars}</td>
      <td>object</td>
    </tr>
  </table>
</section>

<section class="docs-section" id="item-5-2">
  <h2 class="section-heading">Methods</h2>
  <p>Use this methods in the controller to render certain data-rg- elements.</p>
  <ul class="methods">
    <h4>GENERATORS</h4>
    Generators will produce new HTML elements or remove existing. It will change the DOM tree.
    <li>
      <b>rgFor <i>(attrValQuery :string) :void</i></b>
      <p class="desc">Parse the <b>data-rg-for="&lt;controllerProperty&gt; [@@&lt;priority&gt;]"</b> elements. Multiply the element.
        The controllerProp should be an array. Element with the higher priprity will be parsed before.
        <br>
        <br>RENDER ARGS: The params which which will be rendered in the outerHTML:
        <br> - <b style="color:brown">$i(priority)</b> - the for loop iteration values 0,1,2,3,... - for example .$i0 or $i0+1, $i1-1, $1i^2 will be rendered
        <br> - <b style="color:brown">this.</b> - the controller property value - for example: this.skip
        <br> - <b style="color:brown">evalMath()</b> - evaluate math expression - for example: data-rg-echo="evalMath((this.currentPage - 1) * this.itemsPerPage + $i0 + 1)"
        <br>
        <br><b>attrValQuery :string|RegExp</b> - the attribute query, It's usually the controller property name and when used the number of data-rg- elements is reduced for rendering. It can be string or RegExp.
        It will speed up rendering when used.
        <br>Examples:
        <br>data-rg-for="companies"
        <br>data-rg-for="company.employees @@ 8" - priority 8
      </p>
    </li>
    <li>
      <b>rgRepeat <i>(attrValQuery :string) :void</i></b>
      <p class="desc">Parse the <b>data-rg-repeat="&lt;controllerProperty&gt;"</b> elements. Repeat the element <i>n</i> times.
        <br>If the iteration parameter <b style="color:brown">$i</b> is used then expressions like .$i or $i+1, $i-1, $i^2, ... will be parsed in the HTML file.
        <br> The render args can be used just like in the rgFor().
        <br><b>attrValQuery</b> - the attribute query
      </p>
    </li>
    <li>
      <b>rgPrint <i>(attrValQuery :string) :void</i></b>
      <p class="desc">Parse the <b>data-rg-print="&lt;controllerProperty&gt; [| pipeFunc()] [@@ inner|outer|sibling|prepend|append|inset] [@@ keep]"</b> elements. Print the controller's property in the view.
        <br>TIP1: If the controller property has <i>falsy</i> value and <i>@@keep</i> is used then innerHTML value is printed.
        <br>TIP2: If the value is the JS object or array it is automatically recognised and converted to the JSON string.
        <br>TIP3: With inset the printed value can by at any position. For example: <small>&lt;span data-rg-print="age @@ inset"&gt;John is ${} years old.&lt;/span&gt;</small>
        <br>TIP4: The <b>pipeFunc</b> can be used to format the output, for example:
        <br><small>data-rg-print="longText | slice(0, 10)"</small> or
        <br><small>data-rg-print="longText | replace(/Lorem/ig, 'LOREM')"</small>
        <br><b>attrValQuery</b> - the attribute query
      </p>
    </li>
  </ul>

  <ul class="methods">
    <h4>NON-GENERATORS</h4>
    Non-generators will affect elements with the specified data-rg- attribute and will not change the DOM tree.
    <li>
      <b>rgIf <i>(attrValQuery :string) :void</i></b>
      <p class="desc">Parse the <b>data-rg-if="&lt;controllerProperty&gt; [&lt;$comparison&gt;]"</b> elements.
        Hide or remove the HTML element if the <i>controllerProperty</i> gets falsy value.
        <br><b>attrValQuery</b>- the attribute query
        <br>
        <br><i>comparison</i> - comparison operators can be used:
        <br><strong>$not()</strong>
        <strong style="margin-left:5px">$eq(arg :any)</strong>
        <strong style="margin-left:5px">$gt(arg :number)</strong>
        <strong style="margin-left:5px">$gte(arg :number)</strong>
        <strong style="margin-left:5px">$lt(arg :number)</strong>
        <strong style="margin-left:5px">$lte(arg :number)</strong>
        <strong style="margin-left:5px">$ne(arg :any)</strong>
        <strong style="margin-left:5px">$in(arg :any[])</strong>
        <strong style="margin-left:5px">$nin(arg :any[])</strong>
        <strong style="margin-left:5px">$reg(arg :RegExp)</strong>
        <strong style="margin-left:5px">$nreg(arg :RegExp)</strong>
        <br>
        <br>Examples:
        <br>data-rg-if="ifAge"
        <br>data-rg-if="employee.age $gt(55)"
      </p>
    </li>
    <li>
      <b>rgSpinner <i>(attrValQuery :string) :void</i></b>
      <p class="desc"> Parse the "data-rg-spinner" attribute.
        Load the spinner inside data-rg-spinner element when expression with $model is true.
        This method acts like rgIf.
        <br>Example: data-rg-spinner="age $gt(22)"
      </p>
    </li>
    <li>
      <b>rgSwitch <i>(attrValQuery :string) :void</i></b>
      <p class="desc">Parse the <b>data-rg-switch="&lt;controllerProperty&gt; [@@ multiple]"</b> elements.
        Show or remove elements depending if "data-rg-switchcase" value matches controller property.
        <br>Notice2: When @@multiple is used the multiple switchcases can be shown. The controller property must be an array.
        <br><b>attrValQuery</b>- the attribute query
        <br>Example:
        <br>data-rg-switch="age"
        <br>data-rg-switchcase="18"
        <br>data-rg-switchcase="21"
        <br>data-rg-switchdefault
    </li>
    <li>
      <b>rgDisabled <i>(attrValQuery :string) :void</i></b>
      <p class="desc">Parse the <b>data-rg-disabled="&lt;controllerProperty&gt; [&lt;$comparison&gt;]"</b> elements.
        Disable the HTML element if the <i>controllerProperty</i> gets true value.
        <br><b>attrValQuery</b>- the attribute query
        <br>
        <br><i>comparison</i> - comparison operators can be used just like in the data-rg-if elements.
        <br>
        <br>Examples:
        <br>data-rg-disabled="ifAge"
        <br>data-rg-disabled="employee.age $gt(55)"
      </p>
    </li>
    <li>
      <b>rgValue <i>(attrValQuery :string) :void</i></b>
      <p class="desc">Parse the <b>data-rg-value="&lt;controllerProperty&gt;</b> elements. Set the element value attribute.
        <br>It's specially useful when using in combination with <i>data-rg-for</i>:
        <br><small>&lt;option data-rg-for="autos" data-rg-value="autos.$i0.id" data-rg-print="autos.$i0.name"&gt;&lt;/option&gt;</small>
        <br><b>attrValQuery</b>- the attribute query</p>
    </li>
    <li>
      <b>rgChecked <i>(attrValQuery :string) :void</i></b>
      <p class="desc">Parse the <b>data-rg-checked="&lt;controllerProperty&gt;</b> elements.
        Sets the "checked" attribute with the controller property value.
        The controller property is an array. If the checkbox value is in that array then the checkbox is checked. Use it in the checkboxes only.
        <br><b>attrValQuery</b>- the attribute query</p>
    </li>
    <li>
      <b>rgClass <i>(attrValQuery :string) :void</i></b>
      <p class="desc">Parse the <b>data-rg-class="&lt;controllerProperty&gt; [@@ add|replace]"</b> elements. Set the element class attribute.
        <br>The controller property value should be an array, for example: <small>this.classes = ['active', 'bold']</small>
        <br>When <i>@@add</i> is used the new classes will be appended to the existing classes. If the <i>@@replace</i> is used then all classes will be replaced. The default is <i>add</i>.
        <br><b>attrValQuery</b>- the attribute query</p>
    </li>
    <li>
      <b>rgStyle <i>(attrValQuery :string) :void</i></b>
      <p class="desc">Parse the <b>data-rg-style="&lt;controllerProperty&gt; [@@ add|replace]"</b> elements. Set the element style attribute.
        <br>The controller property value should be an object with the valid HTMLElement.style fields, for example <small>this.myStajl = { fontSize: '21px', color: 'red' };</small>
        <br>When <i>@@add</i> is used the new styles will be appended to the existing styles. If the <i>@@replace</i> is used then all styles will be replaced.</th>
        <br><b>attrValQuery</b>- the attribute query</p>
    </li>
    <li>
      <b>rgSrc <i>(attrValQuery :string) :void</i></b>
      <p class="desc">Parse the <b>data-rg-src="&lt;controllerProperty&gt; [@@ defaultSrc]"</b> elements. Set the element src attribute, for example in the image tag.
        <br>The <i>@@defaultSrc</i> will be loaded in case when <i>controllerProp</i> is undefined, for example <small>data-rg-src="myImageURL @@ http://image.com/robot.jpg"</small>
        <br><b>attrValQuery</b>- the attribute query</p>
    </li>
    <li>
      <b>rgAttr <i>(attrValQuery :string) :void</i></b>
      <p class="desc">Parse the <b>data-rg-src="&lt;controllerProperty&gt; @@ attribute_name"</b> elements. Set the element attribute, for example href in the "a" tag.
        <br> Example: <small>&lt;a data-rg-attr="myURL @@ href"&gt;My Link&lt;/a&gt;</small>
        <br><b>attrValQuery</b>- the attribute query</p>
    </li>
    <li>
      <b>rgElem <i>(attrValQuery :string) :void</i></b>
      <p class="desc">Parse the <b>data-rg-elem="&lt;rgelemsProp&gt;"</b> elements. Transfer the DOM element to the controller property "this.rgelems".
        <br><b>attrValQuery</b>- the attribute query, the property of the this.rgelems</p>
    </li>
    <li>
      <b>rgEcho <i>(attrValQuery :string) :void</i></b>
      <p class="desc">Parse the <b>data-rg-echo="&lt;text&gt;"</b> elements. Print the <i>text</i> in the view as textContent.
        <br><b>attrValQuery</b>- the attribute query, the text which will be printed
        <br>
        <br>Examples:
        <br><small>&lt;span data-rg-echo="$i+1"&gt;&lt;/span&gt;</small>
        <br><small>&lt;span data-rg-echo="name: {cars.0.name} -- price: $ {cars.0.price}"&gt;&lt;/span&gt;</small> - if one of {} interpolations is undefined the echoed text will be empty string
      </p>
    </li>
    <li>
      <b>rgFlicker <i>(bool :boolean) :void</i></b>
      <p class="desc">Parse the "data-rg-flicker" attribute. Initially when controller start hide elements with data-rg-flicker and show it when render is finished.
        <br>It will prevent element flickering during render process.
        <br><b>bool</b> - to show or hide the element
        <br>
        <br>Example:
        <br><small>&lt;span data-rg-flicker data-rg-print="name"&gt;ma name: &lt;/span&gt;</small>
      </p>
    </li>
    <li>
      <b>rgSetinitial <i>() :void</i></b>
      <p class="desc">Parse the "data-rg-setinitial" attribute. Get the element value and set the controller property value. The element is input, textarea or select tag.
        <br>
        <br>Example:
        <br><small>&lt;input value="25" data-rg-setinitial="age"&gt;</small>
      </p>
    </li>
  </ul>
</section>


<section class="docs-section" id="item-5-3">
  <h2 class="section-heading">Examples</h2>
  <h4>1. data-rg-switch</h4>
  The example shows how to use "data-rg-switch", "data-rg-switchcase" and "data-rg-switchdefault" to show one switchcase.
  For example if <small>myColor='green'</small> then green will be shown and others will be removed.
  <pre><code class="language-markup">
&lt;ul data-rg-switch="myColor"&gt;
  &lt;li data-rg-switchcase="red"&gt;red&lt;/li&gt;
  &lt;li data-rg-switchcase="green"&gt;green&lt;/li&gt;
  &lt;li data-rg-switchcase="blue"&gt;blue&lt;/li&gt;
  &lt;li data-rg-switchdefault&gt;silver (default)&lt;/li&gt;
&lt;/ul&gt;
  </code></pre>

  <h4>2. data-rg-switch with multiple</h4>
  The example shows how to use "data-rg-switch", "data-rg-switchcase" and "data-rg-switchdefault".
  @@ multiple will show multiple items, for example if <small>myColorArr=['red', green]</small> then red and green will be shown.
  <pre><code class="language-markup">
&lt;div data-rg-switch="myColorArr @@ multiple"&gt;
  &lt;p data-rg-switchcase="red"&gt;red&lt;/p&gt;
  &lt;p data-rg-switchcase="green"&gt;green&lt;/p&gt;
  &lt;p data-rg-switchcase="blue"&gt;blue&lt;/p&gt;
  &lt;p data-rg-switchdefault&gt;silver (default)&lt;/p&gt;
&lt;/div&gt;
  </code></pre>

  <br>
  <h4>3. data-rg-for</h4>
  The example shows how to use "data-rg-for" and iteration parameter $i.
  <pre><code class="language-markup">
&lt;p data-rg-for="companies @@ 0" style="color:green"&gt;&lt;span data-rg-print="companies.$i0.name @@ append"&gt;$i0+1 name:&lt;/span&gt; -- &lt;b data-rg-print="companies.$i0.size"&gt;&lt;/b&gt;&lt;/p&gt;
&lt;p data-rg-for="users @@ 5 @@ inner" style="color:orangered"&gt;&lt;span data-rg-print="companies.$i5.name @@ append"&gt;$i5 name:&lt;/span&gt;&lt;br&gt;&lt;/p&gt; -- higher priority
  </code></pre>

  <br>
  <h4>4. data-rg-repeat</h4>
  The example shows how to use "data-rg-repeat" and iteration parameter $i.
  <pre><code class="language-markup">
&lt;p id="colorID" data-rg-repeat="3"&gt;$i+1 &lt;input data-rg-set="colors.$i @@ print"&gt; &lt;span data-rg-print="colors.$i"&gt;&lt;/span&gt;&lt;/p&gt;
  </code></pre>

  <br>
  <h4>5. data-rg-elem</h4>
  The example shows how to use "data-rg-elem" to toggle the element's color.
  <pre><code class="language-markup">
&lt;button data-rg-click="runELEM()"&gt;run ELEM&lt;/button&gt;
Click button multiple times to toggle the text color. Very simple.
&lt;p data-rg-elem="myElem"&gt;catch this element and store in the controller object (this.rgelems)&lt;/p&gt;
  </code></pre>

  <pre><code class="language-js">
runEVT(elem, evt, boja) {
  // console.log(elem);
  // console.log(evt);
  elem.style.color = boja;
}
  </code></pre>




</section>
