<header class="docs-header">
  <h1 class="docs-heading">navig</h1>
  <section class="docs-intro">
    <i>instance of the class Navig</i>
    <br><br>
    <p>A library for navigate through the URLs by changing browser's address bar data.</p>
  </section>
</header>


<section class="docs-section" id="item-15-1">
  <h2 class="section-heading">Properties</h2>
  <table style="width:100%">
    <tr>
      <th>Property</th>
      <th>Description</th>
      <th>Type</th>
      <th>Default</th>
    </tr>
    <tr>
      <td>previous</td>
      <td>prvious uri and controller <i>{uri:string, ctrl:Controller}</i></td>
      <td>object</td>
      <td></td>
    </tr>
    <tr>
      <td>current</td>
      <td>current uri and controller <i>{uri:string, ctrl:Controller}</i></td>
      <td>object</td>
      <td></td>
    </tr>
  </table>
</section>


<section class="docs-section" id="item-15-2">
  <h2 class="section-heading">Methods</h2>
  <p>Use this methods in the controller.</p>
  <ul class="methods">
    <h4>SETTERS &amp; GETTERS</h4>
    <li>
      <b>setCurrent <i>(ctrl :Controller, trx :object) :void</i></b>
      <p class="desc">Set current uri and controller instance <small>{uri:string, ctrl:Controller}</small>.
        <br><b>ctrl</b> - instance of the current controller
        <br><b>trx</b> - regoch-router transitional variable for matched route <small>{uri:string, body:any, params:object, query:object, routeParsed:object, uriParsed:object}</small></p>
    </li>
    <li>
      <b>setPrevious <i>() :void</i></b>
      <p class="desc">Set previous uri and controller by copying the current uri and controller.</p>
    </li>
    <li>
      <b>getCurrentURI <i>() :string</i></b>
      <p class="desc">Get current browser bar uri which includes path and query string without hash, for example <i>/product/13?limit=25</i>
        <br>(<i>window.location.pathname + window.location.search</i>).</p>
    </li>


    <br><br>
    <h4>NAVIGATION</h4>
    <li>
      <b>goto <i>(url :string, state :string, title :string) :void</i></b>
      <p class="desc">Navigates to a view using an absolute URL path. The controller will be executed.
        More at <a href="https://developer.mozilla.org/en-US/docs/Web/API/History/pushState" target="_blank">https://developer.mozilla.org/en-US/docs/Web/API/History/pushState</a>
        <br><b>url</b> - absolute URL path, for example: '/customer/product/25'
        <br><b>state</b> - The state data. Fetch it with event.detail.
        <br><b>title</b> - Not used in major browsers.
      </p>
    </li>
    <li>
      <b>goblind <i>(url :string, state :string, title :string) :void</i></b>
      <p class="desc">This method will only change the URL in browser address bar without executing the controller.
        <br><b>url</b> - absolute URL path, for example: '/customer/product/25'
        <br><b>state</b> - The state data. Fetch it with event.detail.
        <br><b>title</b> - Not used in major browsers.
      </p>
    </li>
    <li>
      <b>forward <i>() :void</i></b>
      <p class="desc">Go forward like forward button is clicked.</p>
    </li>
    <li>
      <b>back <i>() :void</i></b>
      <p class="desc">Go back like back button is clicked.</p>
    </li>
    <li>
      <b>go <i>(delta :number) :void</i></b>
      <p class="desc">Loads a specific page from the session history.
        You can use it to move forwards and backwards through the history depending on the delta value.
        <br><b>delta</b> - history index number, for example: -1 is like back(), and 1 is like forward()</p>
    </li>
    <li>
      <b>reload <i>() :void</i></b>
      <p class="desc">Reloads the page like refresh button is clicked.</p>
    </li>

    <br><br>
    <h4>LISTENERS</h4>
    <li>
      <b>onPushstate <i>(listener :Function) :void</i></b>
      <p class="desc">Listen for the 'pushstate' event, for example when data-rg-href is clicked or when goto() is used.
        <br><b>listener</b> - callback function which will be executed on 'pushstate' event
        ,for example <i>pevent => { ... }</i> where pevent is pushstate or popstate event</p>
    </li>
    <li>
      <b>onPopstate <i>(listener :Function) :void</i></b>
      <p class="desc">Listen for the 'popstate' event, for example when BACK,FORWARD button is clicked or when back(),forward() is used.
        <br><b>listener</b> - callback function which will be executed on 'popstate' event
        ,for example <i>pevent => { ... }</i> where pevent is pushstate or popstate event</p>
    </li>
    <li>
      <b>onUrlChange <i>(listener :Function) :void</i></b>
      <p class="desc">Listen for the URL change i.e. 'popstate' or 'pushstate' event. the URL change include any URL change even hash part modification.
        <br><b>listener</b> - callback function which will be executed on 'popstate' or 'pushstate' event
        ,for example <i>pevent => { ... }</i> where pevent is pushstate or popstate event</p>
    </li>
    <li>
      <b>onHashChange <i>(listener :Function) :void</i></b>
      <p class="desc">Listen for the URL hash part change.
        <br><b>listener</b> - callback function which will be executed on 'hashchange' event
        ,for example <i>pevent => { ... }</i> where pevent is pushstate or popstate event</p>
    </li>
  </ul>
</section>


<section class="docs-section" id="item-15-3">
  <h2 class="section-heading">Example</h2>
  <pre><code class="language-js">
const { Controller, syslib } = require('regoch-web');

class MyCtrl extends Controller {
  async runGOTO() {
    syslib.navig.goto('/admin/products/list');
  }
}
  </code></pre>
</section>
