<header class="docs-header">
  <h1 class="docs-heading">Router</h1>
  <section class="docs-intro">
    <i>class Router extends RegochRouter</i>
    <br><br>
    <p>The Regoch Web is using its internal router.
      <br><br>
      <i>There's no need to use this class inside the Controller.</i></p>
  </section>
</header>


<section class="docs-section" id="item-7-1">
  <h2 class="section-heading">Properties</h2>
  <table style="width:100%">
    <tr>
      <th>Property</th>
      <th>Description</th>
      <th>Type</th>
      <th>Default</th>
    </tr>
    <tr>
      <td>debugRouter</td>
      <td>debug the router</td>
      <td>boolean</td>
      <td></td>
    </tr>
  </table>
</section>


<section class="docs-section" id="item-7-2">
  <h2 class="section-heading">Methods</h2>
  <p>Do NOT use this methods in the controller unless you know what you'r doing.</p>
  <ul class="methods">
    <li>
      <b>_when <i>(route:string, ctrl:object, routeOpts:object = {}): void</i></b>
      <p class="desc">Define the route and give it the controller.</p>
    </li>
    <li>
      <b>_notfound <i>(ctrl:object): void</i></b>
      <p class="desc">Define the not found route.</p>
    </li>
    <li>
      <b>_do <i>(..funcs): void</i></b>
      <p class="desc">Execute functions on every route after route middlewares are executed. Func argument is <b>trx</b>, for example <i>const f1 = (trx) {...}</i></p>
    </li>
    <li>
      <b>_redirect <i>(fromRoute:string, toRoute:string): void</i></b>
      <p class="desc">Redirect from one route to another, so that the toRoute controller will be executed.</p>
    </li>
    <li>
      <b>_exe <i>(pevent): void</i></b>
      <p class="desc">Test defined routes and if the route is matched against URL execute the route middlewares i.e. the controller hooks.</p>
    </li>
  </ul>
</section>

<section class="docs-section" id="item-7-3">
  <h2 class="section-heading">Route Options</h2>
  <ul>
    <li><b>authGuards :string[]</b> - route guards to do auto login and to protect the route from unauthorised access
      <br>for example: <small>{authGuards: ['autoLogin']}</small></li>
  </ul>
  <br>
  <ol>
    <h4>authGuards</h4>
    <li><i>'autoLogin'</i> - if the user already logged redirect to the "afterGoodLogin" URL</li>
    <li><i>'isLogged'</i> - checks if the user is logged, if not redirect to "afterBadLogin" URL</li>
    <li><i>'hasRole'</i> - checks if the logged user has role contained in the URL, if not redirect to "afterBadLogin" URL</li>
  </ol>
  <br>The example:
  <pre><code class="language-js">
const routesCnf = [
  ['when' '/login' 'LoginCtrl', {authGuards: ['autoLogin']}],
  ['when' '/admin/product/:id' 'AdminProductCtrl', {authGuards: ['isLogged', 'hasRole']}]
];
  </code></pre>
</section>


<section class="docs-section" id="item-7-3">
  <h2 class="section-heading">Router Debug</h2>
  Debug is defined in the client/conf/$debugOpts.js .
  <br>For example:
  <pre><code class="language-js">
{
// general
warnings: false,

// Router
router: true,
regochRouter: true,

// Controller.js
render: false,
navig: false,

// View.js
rgInc: false,
loadView: false,
emptyView: false,
loadHead: false,

....
  </code></pre>
</section>
