<header class="docs-header">
  <h1 class="docs-heading">router</h1>
  <section class="docs-intro">
    <i>instance of the class Router</i>
  </section>
</header>

<section class="docs-section" id="item-3-1">
  <h2 class="section-heading">Properties</h2>
  <table style="width:100%">
  <tr>
    <th>Property</th>
    <th>Description</th>
    <th>Type</th>
    <th>Default</th>
  </tr>
  <tr>
    <td>CONF</td>
    <td>Configuration injected from the /conf/ files. Use it in the controller.</td>
    <td>any</td>
    <td>{}</td>
  </tr>
</table>

</section>

<section class="docs-section" id="item-2-2">
  <h2 class="section-heading">Methods</h2>
	<ul class="methods">
    <li><b>conf <i>(name:string, value:any): App</i></b> - inject configuration which can be used in the controller</li>

  </ul>
</section>


<section class="docs-section" id="item-2-3">
  <h2 class="section-heading">Example</h2>
  <pre><code class="json hljs">

    </code></pre>
</section>



