<header class="docs-header">
  <h1 class="docs-heading">DataRgListeners</h1>
  <section class="docs-intro">
    <i>class DataRgListeners extends Aux</i>
    <br><br>
    <p>Parse HTML elements with the "data-rg-" attribute and attach event listeners to them. Events like click, change, etc.</p>
  </section>
</header>

<section class="docs-section" id="item-6-1">
  <h2 class="section-heading">Properties</h2>
  <table style="width:100%">
    <tr>
      <th>Property</th>
      <th>Description</th>
      <th>Type</th>
      <th>Default</th>
    </tr>
    <tr>
      <td>$rg.listeners</td>
      <td>A collection of the elements with the listeners.
        The purpose of this property is to collect and kill all event listeners when controller is destroyed
        i.e. every time when the URL is changed.</td>
      <td>{attrName:string, elem:Element, handler:Function, eventName:string}[]</td>
      <td>[]</td>
    </tr>
  </table>
</section>

<section class="docs-section" id="item-6-2">
  <h2 class="section-heading">Methods</h2>
  <p>Do not use this methods in the controller until you know what you are doing. Just use data-rg- elements in the view's HTML code.</p>
  <ul class="methods">
    <li>
      <b>rgHref <i>() :void</i></b>
      <p class="desc">Parser for the <b>data-rg-href="&lt;URL&gt;"</b>. Event "click".
        <br>Href click listener for changing URLs. It will push new browser history state <i>window.history.pushState(state, title, url)</i>.
        <br>Just add <b>data-rg-href</b> attribute to the existing A tag and the href value will work as single page app.
        <br>Example:
        &lt;a href="/product/12" data-rg-href&gt;Product 12&lt;/a&gt; OR &lt;a href="" data-rg-href="/product/12"&gt;Product 12&lt;/a&gt;
      </p>
    </li>
    <li>
      <b>rgClick <i>() :void</i></b>
      <p class="desc">Parser for the <b>data-rg-click="&lt;controllerMethod&gt; [@@ preventDefault]"</b>. Event "click".
        <br>The option <i>@@preventDefault</i> will execute <i>event.preventDefault()</i>.
        <br>The <b>$element</b>, <b>$value</b> and <b>$event</b> arguments can be used in the view. For example: <small>data-rg-click="func(5, 'str', 8, 9, $element, $event, $value)"</small>
        <br>The $value is element.value with the corrected data type. For example if element.value is 34.58 it's converted to Number.
        <br>Example: &lt;button data-rg-click="showData()"&gt;</p>
    </li>
    <li>
      <b>rgKeyup <i>() :void</i></b>
      <p class="desc">Parser for the <b>data-rg-keyup="&lt;controllerMethod&gt; [@@ &lt;keyCode&gt;]"</b>. Event "keyup".
        <br>The <b>$element</b>, <b>$value</b> and <b>$event</b> arguments can be used in the view. For example: <small>data-rg-keyup="func($event, $element, $value, 'Peter') @@ enter"</small>
        <br>Example: &lt;button data-rg-click="showData()"&gt;</p>
    </li>
    <li>
      <b>rgChange <i>(): void</i></b>
      <p class="desc">Parser for the <b>data-rg-change="&lt;controllerMethod&gt;"</b>. Event "change".
        Listen for change and execute the function i.e. controller method. Usually used in the HTML form fields like INPUT or SELECT tag.
        <br>The <b>$element</b>, <b>$value</b> and <b>$event</b> arguments can be used in the view. For example: <small>data-rg-change="func(5, 'str', 8, 9, $element, $value, $event)"</small>
        <br><b>controllerMeth</b> - controller method name
        <br>Example: &lt;input data-rg-change="showData()"&gt;</p>
    </li>
    <li>
      <b>rgEvt <i>() :void</i></b>
      <p class="desc">Parser for the <b>data-rg-evt="eventName1 @@ &lt;controllerMethod1&gt; [&& eventName2 @@ &lt;controllerMethod2&gt;]"</b>.
        Listen for any attached event and execute the function i.e. controller method. Events can be chained with the <b>&&</b>.
        <br>The <b>$element</b>, <b>$value</b> and <b>$event</b> arguments can be used in the view. For example: <small>data-rg-evt="func(5, 'str', 8, 9, $element, $value, $event)"</small>
        <br>Example: &lt;input data-rg-evt="showData()"&gt;</p>
    </li>
    <li>
      <b>rgSet <i>() :void</i></b>
      <p class="desc">Parser for the <b>data-rg-set="&lt;controllerProperty&gt; [@@convertType|convertTypeDont]"</b> - default is convertType
        <br>Get the value from elements like INPUT, SELECT, TEXTAREA, .... and set the controller's $model.
        <br>The data-rg-set is activated after "input" event i.e. every time the input is changed. This event will also render the elements with
        <i>data-rg-...="controllerProperty"</i> automatically.
        <br>Example1: &lt;input data-rg-set="first_name"&gt;
        <br>Example2: &lt;input data-rg-set="product.name"&gt;
        <br>Example3: &lt;input data-rg-set="product.price"&gt; - will convert price to number
        <br>Example3: &lt;input data-rg-set="product.price @@ convertType"&gt; - will convert price to number
        <br>Example4: &lt;input data-rg-set="product.price @@ convertTypeDont"&gt; - will not convert price to number, it will stay string
      </p>
    </li>
    <li>
      <b>rgModel <i>() :void</i></b>
      <p class="desc">Parser for the <b>data-rg-model="&lt;controllerProperty&gt;  [@@convertType|convertTypeDont]"</b> - default is convertType
        <br>Bind controller property and view INPUT, SELECT, TEXTAREA, ...etc in both directions.
        When the view is rendered the controller property will be set. Also when $model property is updated the corresponding value in the view will be updated.
        This is a shortcut of rgValue and rgSet, for example &lt;input type="text" data-rg-value="product" data-rg-set="product"&gt; is equal to &lt;input type="text" data-rg-model="product"&gt;
        <br>Example1: &lt;input data-rg-model="product.price"&gt; - will convert price to number
        <br>Example2: &lt;input data-rg-model="product.price @@ convertType"&gt; - will convert price to number
        <br>Example3: &lt;input data-rg-model="product.price @@ convertTypeDont"&gt; - will not convert price to number, it will stay string
      </p>
    </li>
  </ul>
</section>


<section class="docs-section" id="item-6-3">
  <h2 class="section-heading">$event &nbsp;&nbsp; $element &nbsp;&nbsp; $value &nbsp; arguments</h2>
  The arguments <b>$event</b>, <b>&element</b> and <b>$value</b> can be used in the controller method.
  <br><b>$event</b> - event object applied on the data-rg- element
  <br><b>$element</b> - the data-rg- element DOM object
  <br><b>$value</b> -element.value with the corrected data type. For example if element.value is 34.58 it's converted to Number.
  <br>
  <pre><code class="language-markup"><xmp>
<br><input type="text" data-rg-keyup="runKEYUP($element, $event, $value)">
<br><input type="text" data-rg-keyup="runKEYUP($element, $event, $value) @@ enter">
  </xmp></code></pre>
  <br>then use the arguments in the controller method:
  <pre><code class="language-js">
runKEYUP(elem, evt, val) {
  console.log('runKEYUP elem::', elem);
  console.log('runKEYUP evt', evt);
  console.log('runKEYUP val', val);
}
  </code></pre>
</section>


<section class="docs-section" id="item-6-3">
  <h2 class="section-heading">$model &nbsp; argument</h2>
  The argument <b>$model</b> can be used in the controller method. It's the shortcut of the <i>this.$model</i>.
  <br>
  <pre><code class="language-markup"><xmp>
<br><input type="text" data-rg-click="runCLICK(this.$model.river)">
<br><input type="text" data-rg-click="runCLICK($model.river)">  // shortcut
  </xmp></code></pre>
  <br>then use the arguments in the controller method:
  <pre><code class="language-js">
runCLICK(modelRiver) {
  console.log('$model.river::', modelRiver);
}
  </code></pre>
</section>



<section class="docs-section" id="item-6-4">
  <h2 class="section-heading">Examples</h2>
  <h4>1. data-rg-href</h4>
  <pre><code class="language-markup"><xmp>
<a href="/product/12" data-rg-href>Product 12</a> - this will start the regoch-router and SPA
<a href="/product/12">Product 12</a> - this will send a request to the server
  </xmp></code></pre>

  <h4>2. data-rg-evt</h4>
  <pre><code class="language-markup"><xmp>
<span style="font-weight:bold" data-rg-evt="
  mouseenter @@ runEVT($element, $event, 'red') &&
  mouseleave @@ runEVT($element, $event, 'green') &&
  click @@ runEVT($element, $event, 'blue')
">mouseenter and click this text</span>
  </xmp></code></pre>

  <h4>3. data-rg-set</h4>
  <pre><code class="language-markup"><xmp>
<p id="colorID" data-rg-repeat="3">$i+1 <input data-rg-set="colors.$i @@ print"> <span data-rg-print="colors.$i"></span></p>
  </xmp></code></pre>
</section>
