<nav id="docs-nav" class="docs-nav navbar">
  <h4 style="color:gray">Regoch Web</h4>

  <ul class="secExampleion-items list-unstyled nav flex-column pb-3">
    <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-1"><span class="theme-icon-holder mr-2"><i class="fas fa-arrow-down"></i></span>Introduction</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-1-1">Features</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-1-2">Installation</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-1-3">Quick Start</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-1-4">Playground</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-1-5">License</a></li>
  </ul>

  <ul class="section-items list-unstyled nav flex-column pb-3 mt-3">
    <h5>sys/App.js</h5>
    <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-2">
        <span class="theme-icon-holder mr-2"><i class="fas fa-arrow-down"></i></span>App</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-2-1">Properties</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-2-2">Methods</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-2-3">Example</a></li>

    <br><br>
    <h5>sys/mvc/</h5>
    <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-3">
        <span class="theme-icon-holder mr-2"><i class="fas fa-arrow-down"></i></span>Controller</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-3-1">Properties</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-3-2">Methods</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-3-4">Example</a></li>

    <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-3b">
        <span class="theme-icon-holder mr-2"><i class="fas fa-arrow-down"></i></span>Model</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-3b-1">Properties</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-3b-2">Methods</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-3b-3">Example</a></li>

    <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-4">
        <span class="theme-icon-holder mr-2"><i class="fas fa-arrow-down"></i></span>View</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-4-1">Properties</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-4-2">Methods</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-4-3">Cache</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-4-4">Examples</a></li>

    <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-5">
        <span class="theme-icon-holder mr-2"><i class="fas fa-arrow-down"></i></span>DataRg</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-5-1">Properties</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-5-2">Methods</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-5-3">Examples</a></li>

    <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-6">
        <span class="theme-icon-holder mr-2"><i class="fas fa-arrow-down"></i></span>DataRgListeners</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-6-1">Properties</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-6-2">Methods</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-6-3">$event $element $value</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-6-4">Examples</a></li>


    <br><br>
    <h5>sys/lib</h5>
    <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-10">
        <span class="theme-icon-holder mr-2"><i class="fas fa-arrow-down"></i></span>Auth</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-10-1">Properties</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-10-2">Methods</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-10-3">Examples</a></li>

    <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-11">
        <span class="theme-icon-holder mr-2"><i class="fas fa-arrow-down"></i></span>Cookie</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-11-1">Properties</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-11-2">Methods</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-11-3">Examples</a></li>

    <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-12">
        <span class="theme-icon-holder mr-2"><i class="fas fa-arrow-down"></i></span>eventEmitter</a></li>

    <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-13">
        <span class="theme-icon-holder mr-2"><i class="fas fa-arrow-down"></i></span>Form</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-13-1">Properties</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-13-2">Methods</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-13-3">Example</a></li>

    <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-14">
        <span class="theme-icon-holder mr-2"><i class="fas fa-arrow-down"></i></span>HTTPClient</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-14-1">Properties</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-14-2">Methods</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-14-3">Answer</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-14-4">Interceptor</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-14-5">Example</a></li>

    <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-15">
        <span class="theme-icon-holder mr-2"><i class="fas fa-arrow-down"></i></span>navig</a></li>

    <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-16">
        <span class="theme-icon-holder mr-2"><i class="fas fa-arrow-down"></i></span>util</a></li>


    <br><br>
    <h5>sys/router</h5>
    <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-7">
        <span class="theme-icon-holder mr-2"><i class="fas fa-arrow-down"></i></span>Router</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-7-1">Properties</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-7-2">Methods</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-7-3">Route Options</a></li>
    <li class="nav-item"><a class="nav-link scrollto" href="#item-7-4">Examples</a></li>


  </ul>



</nav>
