<h1>Logout Test</h1>
<p>This is the page after successful login.
<br>
<br>1) Test logout by clicking on the button
(cookies <b>auth_loggedUser</b> and <b>auth_jwtToken</b>) should be removed and page should be redirected to <i>afterLogout</i> URL.
<br>
<br>2) To test the method <b>Auth::autoLogin()</b> click <a href="/playground/login" data-rg-href>/playground/login</a>.
If the user is logged it will be redirect to <i>afterGoodLogin</i> URL.
</p>
<br>
<br><button data-rg-click="tryLogout()">Logout</button>


