<h1>Form Test</h1>
<p>A form example (add new user)</p>

<form data-rg-form="testF">

  full name: <input type="text" name="fullName">
  <button data-rg-click="setFullName() @@ preventDefault">set full name</button> <!-- used @@preventDefault because there's no type="button" atribute -->
  <button type="button" data-rg-click="getFullName()">get full name</button>


  <br><br>age: <input name="age" type="number">
  <button type="button" data-rg-click="setAge()">set age</button>
  <button type="button" data-rg-click="getAge()">get age</button>


  <br><br>country: <select name="country">
    <option value="UK">UK</option>
    <option value="US" selected>US</option>
    <option value="Croatia">Croatia</option>
    <option value="Kenya">Kenya</option>
  </select>
  <button type="button" data-rg-click="setCountry()">set country</button>
  <button type="button" data-rg-click="getCountry()">get country</button>


  <br><br>family: <br><select name="family" size="4" multiple>
    <option value="Mary">Mary</option>
    <option value="Ann" selected>Ann</option>
    <option value="Betty">Betty</option>
    <option value="Lara">Lara</option>
  </select>
  <button type="button" data-rg-click="setFamily()">set family</button>
  <button type="button" data-rg-click="getFamily()">get family</button>
  <button type="button" data-rg-click="emptyFamily()">empty family</button>


  <br><br>jobs:
  <br><input type="checkbox" name="jobs" value="IT"> IT
  <br><input type="checkbox" name="jobs" value="Construction"> Construction
  <br><input type="checkbox" name="jobs" value="Marketing"> Marketing
  <br><input type="checkbox" name="jobs" value="Commerce" checked> Commerce
  <br><button type="button" data-rg-click="setJobs()">set jobs</button>
  <button type="button" data-rg-click="getJobs()">get jobs</button>
  <button type="button" data-rg-click="emptyJobs()">empty jobs</button>


  <br><br>pet:
  <br><input type="radio" name="pet" value="cat"> cat
  <br><input type="radio" name="pet" value="dog"> dog
  <br><input type="radio" name="pet" value="horse"> horse
  <br><input type="radio" name="pet" value="monkey" checked> monkey
  <br><button type="button" data-rg-click="setPet()">set pet</button>
  <button type="button" data-rg-click="getPet()">get pet</button>
  <button type="button" data-rg-click="emptyPet()">empty pet</button>


  <br><br><br><button type="button" data-rg-click="generateAutos()">generate Autos</button> - generate SELECT/OPTION by data-rg-for and <i>data-rg-print</i> and set the default value
  <br><br>autos: <select name="autosN">
    <option data-rg-for="autos" data-rg-value="autos.$i0.id" data-rg-print="autos.$i0.name"></option>
  </select>


  <br><br><br><button type="button" data-rg-click="generatePlants()">generate Plants</button> - generate SELECT/OPTION by data-rg-for and <i>data-rg-echo</i> and set the default value
  <br><br>plants: <select name="plantsN">
    <option data-rg-for="plants" data-rg-value="plants.$i0.id" data-rg-echo="{plants.$i0.name} -- price: ${plants.$i0.price}"></option>
  </select>

  <br><br><br>
  <hr>
  <button type="button" data-rg-click="setAll()">set all</button>

  <br><br><br><button type="button" data-rg-click="setFruit()">set fruit</button> - use setControls() to set the INPUT with name="fruit.seller.name" i.e. with the subproperty
  <br>fruit.name: <input type="text" name="fruit.name">
  <br>fruit.seller.name: <input type="text" name="fruit.seller.name">



</form>
