<header class="docs-header">
  <h1 class="docs-heading">Introduction</h1>
  <section class="docs-intro">
    <p>
      Regoch Mobile App is the framework for building complex but extremly fast mobile applications.
      It is built on top of the Regoch WEB and with built in Cordova features.
      <br>The final intention is to have a mobile app framework which is lightweight, has fast build and run time.
      <br>
      <br>It should shorten development time and reduce the investment costs.
    </p>
  </section>
</header>
