<div class="theme-bg-shapes-right"></div>
<div class="theme-bg-shapes-left"></div>
<div class="container">
  <h3 class="mb-2 text-white mb-3">Save time by using the Regoch project libraries</h3>
  <div class="section-intro text-white mb-3 single-col-max mx-auto">Visit the project's code at
    <a class="text-white" href="https://github.com/smikodanic?tab=repositories&q=regoch&type=&language=" target="_blank">Github</a> !
  </div>
  <div class="pt-3 text-center">
    <a class="btn btn-light" href="https://github.com/smikodanic?tab=repositories&q=regoch&type=&language=" target="_blank">Get Code<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
  </div>
</div>
