<div class="container">
  <div class="docs-overview py-5">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-4 py-3">

        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title mb-3">
              <span class="theme-icon-holder card-icon-holder mr-2">
                <i class="fas fa-file"></i>
              </span>
              <!--//card-icon-holder-->
              <span class="card-title-text">Regoch Web</WEBn>
            </h5>
            <div class="card-text">
              Regoch Web is a single page application framework. Lightweight, quick development and very fast runtime.
            </div>
            <a class="card-link-mask" href="/web" data-rg-href></a>
          </div>
          <!--//card-body-->
        </div>
        <!--//card-->
      </div>
      <!--//col-->


      <div class="col-12 col-lg-4 py-3">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title mb-3">
              <span class="theme-icon-holder card-icon-holder mr-2">
                <i class="fas fa-tablet-alt"></i>
              </span>
              <!--//card-icon-holder-->
              <span class="card-title-text">Regoch Mob</span>
            </h5>
            <div class="card-text">
              Regoch framework for the mobile applications based on the Regoch Web and Cordova.
            </div>
            <a class="card-link-mask" href="/mob" data-rg-href></a>
          </div>
          <!--//card-body-->
        </div>
        <!--//card-->
      </div>
      <!--//col-->

      <div class="col-12 col-lg-4 py-3">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title mb-3">
              <span class="theme-icon-holder card-icon-holder mr-2">
                <i class="fas fa-database"></i>
              </span>
              <!--//card-icon-holder-->
              <span class="card-title-text">Regoch Database</span>
            </h5>
            <div class="card-text">
              Regoch database, very fast and realtime. Works on Linux and using grep.
            </div>
            <a class="card-link-mask" href="/database" data-rg-href></a>
          </div>
          <!--//card-body-->
        </div>
        <!--//card-->
      </div>
      <!--//col-->

      <div class="col-12 col-lg-4 py-3">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title mb-3">
              <span class="theme-icon-holder card-icon-holder mr-2">
                <i class="fa fa-server"></i>
              </span>
              <!--//card-icon-holder-->
              <span class="card-title-text">Websocket Server</span>
            </h5>
            <div class="card-text">
              Ultra fast Websocket Server with builtin JS framework for creating real-time, complex apps.
              The library is made for <b>NodeJS</b> according to RFC6455 Standard for websocket version 13.
              Very clean code with straightforward logic and no npm dependencies.
            </div>
            <a class="card-link-mask" href="/websocket/server" data-rg-href></a>
          </div>
          <!--//card-body-->
        </div>
        <!--//card-->
      </div>

      <div class="col-12 col-lg-4 py-3">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title mb-3">
              <span class="theme-icon-holder card-icon-holder mr-2">
                <i class="fas fa-asterisk"></i>
              </span>
              <!--//card-icon-holder-->
              <span class="card-title-text">Websocket Clients</span>
            </h5>
            <div class="card-text">
              Websocket clients for different environments: browser, nodejs, angular etc. The clients works best with the Regoch Websocket Server.
              Optimised and powerful libraries made according to RFC6455 Standard for websocket version 13.
            </div>
            <a class="card-link-mask" href="/websocket/clients" data-rg-href></a>
          </div>
          <!--//card-body-->
        </div>
        <!--//card-->
      </div>

      <!--//col-->
      <div class="col-12 col-lg-4 py-3">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title mb-3">
              <span class="theme-icon-holder card-icon-holder mr-2">
                <i class="fas fa-road"></i>
              </span>
              <!--//card-icon-holder-->
              <span class="card-title-text">Regoch Router</span>
            </h5>
            <div class="card-text">
              A router library for the client and server side programming. It's created in pure and modern javascript.
            </div>
            <a class="card-link-mask" href="/router" data-rg-href></a>
          </div>
          <!--//card-body-->
        </div>
        <!--//card-->
      </div>


    </div>
    <!--//row-->
  </div>
  <!--//container-->
</div>
<!--//container-->
