<h1>Model Test ($model, $modeler)</h1>
<br>
<button data-rg-click="str()">str</button> - test model as string
<br>$model.first_name: <span data-rg-print="first_name"></span>
<br>
<br>
<button data-rg-click="obj()">obj</button> - test model as object
<br>$model.user.name: <span data-rg-print="user.name"></span>
<br>$model.user.age: <span data-rg-print="user.age"></span>
<br>$model.user.isActive: <span data-rg-print="user.isActive"></span>
<br>
<br>
<button data-rg-click="arr()">arr</button> - test model as array
<br>$model.pets: <span data-rg-print="pets"></span>

<br>
<br>
<button data-rg-click="level5()">level5</button> - test model with the 5 levels deep object
<br>$model.car.x.y.z.w.year: <span data-rg-print="car.x.y.z.w.year"></span>
<br>YEAR: <span data-rg-print="yearOfCar">data-rg-print="year"</span>

<br>
<br>
Go to <a href="/playground/datarg" data-rg-href>/playground/datarg</a> and reset the <i>ctrl.$model</i>. After that press Back and try the Model methods again.
