<h1>Cookie Test</h1>

<h4>COOKIE</h4>
<form data-rg-form="cookieF" data-rg-change="showFields()">
  cookie method: <select name="cookieMethod">
    <option value="put">put</option>
    <option value="putObject">putObject</option>
    <option value="getAll">getAll</option>
    <option value="get">get</option>
    <option value="getObject">getObject</option>
    <option value="remove">remove</option>
    <option value="removeAll">removeAll</option>
    <option value="exists">exists</option>
  </select>
  <br>cookie name: <input type="text" name="cookieName" size="50" data-rg-if="input1">
  <br>cookie value: <input type="text" name="cookieValue" size="50" data-rg-if="input2">
  <br><button type="button" data-rg-click="runCOOKIE()">run COOKIE</button>
</form>
