<h1>Page::loadViews() Test</h1>

<div data-rg-view="#primary.html#part1"></div>
<div data-rg-view="#primary.html#part2">This is&nbsp;</div>
<div data-rg-view="#primary.html#part3">&nbsp;prepended.</div>

<br><br><br><br><br>
<div class="play-desc">
  This example tests <b>Page::loadViews(viewDefs, isAsync)</b>.
  <br>Notice that if isAsync=false it return the error
  <i style="color:red">Element [data-rg-view="#part1"] not found.</i>.
  To fix the error all views must be cached in the regoch.json.
</div>
