<header class="docs-header">
  <h1 class="docs-heading">Introduction</h1>
  <section class="docs-intro">
    <p>
      Regoch database based on the natural file system. Enormously huge storage capacity for Big Data.
      Simple scalability. The realtime engine build on the top of the regoch-websocket technology. Master-slave infrastructure.
    </p>

    <br><br><br>
    <h2>Feature</h2>
    <br>- easy and simple installation
    <br>- scalabillity - easy to add/remove resources
    <br>- fast search on large data volume - search engines
    <br>- realtime database like Firebase but with much bigger volume
    <br>- websocket connections - direct frontend connections - no APIs needed
  </section>
</header>
