<div class="branding docs-branding">
  <div class="container-fluid position-relative py-2">
    <div class="docs-logo-wrapper" id="btn-bars">
      <button id="docs-sidebar-toggler" class="docs-sidebar-toggler docs-sidebar-visible mr-2 d-xl-none" type="button" data-rg-if="showButtonBars">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="site-logo">
        <a class="navbar-brand" href="/" data-rg-href>
          <img class="logo-icon mr-2" src="/assets/regoch/img/logo.png" alt="logo">
          <span class="logo-text">r<span class="text-alt">e</span>g<span class="text-alt">oč</span></span>
        </a>
      </div>
    </div>

    <div class="docs-top-utilities d-flex justify-content-end align-items-center">
      <ul class="social-list list-inline mx-md-3 mx-lg-5 mb-0 d-none d-lg-flex">
        <li class="list-inline-item"><a href="/single-page-app" title="Regoch Single Page App" data-rg-href><i class="fas fa-file fa-fw"></i></a></li>
        <li class="list-inline-item"><a href="/mobile-app" title="Regoch Mobile App" data-rg-href><i class="fas fa-tablet-alt fa-fw"></i></a></li>
        <li class="list-inline-item"><a href="/database" title="Regoch Database" data-rg-href><i class="fas fa-database fa-fw"></i></a></li>
        <li class="list-inline-item"><a href="/websocket/server" title="Regoch Websocket Server" data-rg-href><i class="fa fa-server fa-fw"></i></a></li>
        <li class="list-inline-item"><a href="/websocket/clients" title="Regoch Websocket Clients" data-rg-href><i class="fa fa-asterisk fa-fw"></i></a></li>
      </ul>
      <a href="/contact" data-rg-href class="btn btn-primary d-none d-lg-flex">Contact</a>
    </div>
  </div>
</div>
