<h1>Navig Test - Page 2</h1>
<br>
<br>
<h4>LINKS</h4>
<b>with data-rg-href</b>
<br><a href="/playground/navig2" data-rg-href>/playground/navig2</a>
<br><a href="/playground/navig2#somehash" data-rg-href>/playground/navig2#somehash</a>
<br><a href="/playground/navig2#somehash2" data-rg-href>/playground/navig2#somehash2</a>
<br><a href="/playground/navig1" data-rg-href>/playground/navig1</a>
<br><a href="/playground/navig1#somehash" data-rg-href>/playground/navig1#somehash</a>
<br>
<br>
<h4>METHODS</h4>
<button data-rg-click="runGOTO('/playground/navig1')">goto /playground/navig1</button>
<button data-rg-click="runBACK()">back</button>
<button data-rg-click="runFORWARD()">forward</button>
<button data-rg-click="runRELOAD()">reload</button>
<br>
<br>
<h4>REDIRECT</h4>
<br><a href="/playground/navig3" data-rg-href>/playground/navig3</a> - Navig1Ctrl will be executed


