<h1>Navig Test - Page 1</h1>
<p>Test the <b>Navig</b> methods.</p>
<i>Activate debug: {router:true, rgKILL:true}</i>
<br>
<h4>LINKS</h4>
<b>with data-rg-href</b>
<br><a href="/playground/navig1" data-rg-href>/playground/navig1</a>
<br><a href="/playground/navig1#somehash" data-rg-href>/playground/navig1#somehash</a>
<br><a href="/playground/navig1#somehash2" data-rg-href>/playground/navig1#somehash2</a>
<br><a href="/playground/navig2" data-rg-href>/playground/navig2</a>
<br><a href="/playground/navig2#somehash" data-rg-href>/playground/navig2#somehash</a>
<br><a href="/playground/bad-url" data-rg-href>/playground/bad-url</a> - click on this link and after that click on BACK button
<br>
<br>
<b>no data-rg-href</b>
<br><a href="/playground/navig1">/playground/navig1</a>
<br><a href="/playground/navig1#somehash">/playground/navig1#somehash</a>
<br><a href="/playground/navig2">/playground/navig2</a>
<br><a href="/playground/navig2#somehash">/playground/navig2#somehash</a>
<br><a href="/playground/navig1#somehash">/playground/navig1#somehash</a>
<br>
<br>
<br>
<br>
<h4>METHODS</h4>
<button data-rg-click="runGOTO('/playground/navig2')">goto /playground/navig2</button>
<button data-rg-click="runBACK()">back</button>
<button data-rg-click="runFORWARD()">forward</button>
<button data-rg-click="runRELOAD()">reload</button>

