<header class="docs-header">
  <h1 class="docs-heading">Introduction</h1>
  <section class="docs-intro">
    <p>
      Regoch Router is fast router with no dependencies for NodeJS and browser environment. Minimalistic but very powerful library.
      It can be used both on the client and server side. The regoch Router is implemented in
      <a href="/websocket-server" data-rg-href>websocket server</a> and <a href="/websocket-clients" data-rg-href>clients</a>.
    </p>
    <br>
    <p>
      <b>ROUTING</b>
      <br>Routing is process that determines which function will be executed on the fly on a certain URI.
      For example: context.uri = '/user/register' will execute user registration function.
    </p>
  </section>
</header>

<section class="docs-section" id="item-1-1">
  <h2 class="section-heading">Features</h2>
  <ul>
    <li>intuitive API simmilar to ExpressJS middlewares</li>
    <li>redirection to another route</li>
    <li>not found route</li>
    <li>regular expressions in route def</li>
    <li>parse URI parameters (trx.params)</li>
    <li>parse URI query string (trx.query)</li>
    <li>convert JSON string in the object, for example: *{"uri": "/shop/prod?myJson={\"qty\": 22}"}*</li>
    <li>automatically convert to number or boolean</li>
  </ul>
</section>

<section class="docs-section" id="item-1-2">
  <h2 class="section-heading">Installation</h2>
  <p>Install the websocket client in your project via npm:</p>

  <pre><code class="language-bash">
  $ npm install --save regoch-router
  </code></pre>

  <pre><code class="language-markup"><xmp>
// NodeJS or browserify
const Router = require('regoch-router');
const regochRouter = new Router({debug: false});


// Browser (client side)
<script src="./Regoch.js"></script>
<script>
const router = new window.regochRouter({debug: false});
</script>
  </xmp></code></pre>
</section>



<section class="docs-section" id="item-1-4">
  <h2 class="section-heading">License</h2>
	The software is published under <b>MIT License</b>.

<pre class="mt-2" style="border:1px solid silver; padding: 5px;">
The MIT License

Copyright (C) 2021  Saša Mikodanić http://www.regoch.org

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation
files (the "Software"), to deal in the Software without restriction, including without limitation the
rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to
whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
</pre>
</section>
