<h1>DataRg Test</h1>


<!-- examples -->

<h3>--GENERATORS--</h3>

<h4>DATA-RG-FOR</h4>
<button data-rg-click="runFOR()">run FOR (priority: 0)</button>
<p data-rg-for="companies" style="color:green" class="evalMath($i0+1)"><span data-rg-print="companies.$i0.name @@ append">evalMath($i0+1). name:</span> -- <b data-rg-print="companies.$i0.size"></b></p>

<br><br>
<button data-rg-click="runFOR2()">run FOR2 (priority: 1)</button> - initial array has no elements. Example with <b>@@priority</b> parameter and evalMath() method.
<ul>
  <li data-rg-for="herbals @@ 1"><span data-rg-print="herbals.$i1 @@ append">evalMath($i1 + 1) -- evalMath((this.skipNum + $i1) * 5) --</span> </li>
</ul>


<br><br>
<button data-rg-click="runFORnested()">run FORnested (priorities: 2,3)</button> - run data-rg-for in the another data-rg-for
<table>
  <tr data-rg-for="trains @@ 2">
    <td data-rg-for="fields @@ 3" style="width:123px"><span data-rg-print="trains.$i2.($model.fields.$i3) @@ append"><b>evalMath($i3 + 1).</b></span></td>
  </tr>
</table>


<br><br>
<h4>DATA-RG-REPEAT</h4>
<p>The example shows how <b>data-rg-repeat</b> will multiply the element. It will work good even if it contains data-rg-set and data-rg-print elements.</p>
<p>Initially the P element will be repeated 3 times due to <b>data-rg-repeat="3"</b> attribute. When the button "run REPEAT" is clicked the element will be repeated 5 times.</p>
<button data-rg-click="runREPEAT(5)">run REPEAT 5</button>
<p data-rg-flicker data-rg-repeat="multiplikator" class="evalMath($i0+1)">The pet #evalMath($i0+1): <input data-rg-set="pets.$i0"> <span data-rg-print="pets.$i0"></span></p>

<br><br>
<h4>DATA-RG-PRINT &amp; DATA-RG-SET</h4>
<button data-rg-click="runPRINT()">run PRINT</button> <small>Click on the button to change the print values</small>
<!-- <input type="text" name="x" data-rg-set="product" data-rg-print="product @@ sibling"> -->
<br>
<br>a) @@inner -- <b data-rg-print="product.name @@ inner">product.name:</b>
<br>b) @@outer -- <b data-rg-print="product.name @@ outer">product.name:</b>
<br>c) @@sibling -- <b data-rg-print="product.name @@ sibling">product.name:</b>
<br>d) @@append -- <b data-rg-print="product.name @@ append">product.name:</b>
<br>e) @@prepend -- <b data-rg-print="product.name @@ prepend">is the product.name</b>
<br>f) @@inset -- <b data-rg-print="product.name @@ inset">The product name is <i>${}</i> !</b>
<br> <input type="text" name="x" data-rg-set="product.name" placeholder="change product.name">
<br>
<br>g) <span data-rg-print="product.address.city @@ append">The product.address.city is</span>
<br>h) <span data-rg-print="product @@ append" style="color:Gray">JSON: </span>
<br>
<br>i) array test
<br>product.colors: <span data-rg-print="product.colors"></span>
<br>product.colors.0: <span data-rg-print="product.colors.0">Dont keep</span> <input type="text" data-rg-set="product.colors.0" placeholder="change product.colors.0">
<br>product.colors.1: <span data-rg-print="product.colors.1">Dont keep</span>
<br>product.colors.2: <span data-rg-print="product.colors.2 @@ inner @@ keep">KEEP</span> <input type="text" data-rg-set="product.colors.2" placeholder="change product.colors.2">
<br><br>

<br><br>
<h4>DATA-RG-SETINITIAL &amp; DATA-RG-PRINT (initial value)</h4>
<p>Set the initial value of the input tag with the <b>value</b> attribute. Then print that initial value.</p>
Change pet name: <input type="text" value="Mrnjao" data-rg-setinitial="pet.cat.name" data-rg-set="pet.cat.name">
<br><span data-rg-print="pet.cat.name @@ append">Pet name is</span>


<br><br>
<h4>DATA-RG-PRINT with the pipe</h4>
<b>data-rg-print="longText" &rarr;</b> <span data-rg-print="longText"></span>
<br><b>data-rg-print="longText | slice(0, 10)" &rarr;</b> <span data-rg-print="longText | slice(0, 10)"></span>
<br><b>data-rg-print="longText | replace(/Lorem/ig, 'LOREM')" &rarr;</b> <span data-rg-print="longText | replace(/Lorem/ig, 'LOREM')"></span>

<br><br>
<h4>DATA-RG-PRINT with the HTML tags</h4>
<button data-rg-click="printHTML()">print HTML</button>
<p data-rg-print="htmlText"></p>

<br><br><br>
<h3>--NON-GENERATORS--</h3>

<h4>DATA-RG-IF</h4>
<button data-rg-click="toggleIF()">toggle IF</button>
<br>PREFIX1 <span data-rg-if="ifX" style="color:green">ifX1</span> SUFIX1
<br>

<br><br>
<h4>DATA-RG-IF (with comparison functions: $not, $eq, ...)</h4>
<i>Notice that initially ifY object is undefined</i>
<br><button data-rg-click="runIF()">run IF</button>
<br>1. ifY.bool <span data-rg-if="ifY.bool" style="color:green">OK</span>
<br>1. ifY.bool $not() <span data-rg-if="ifY.bool $not()" style="color:green">OK</span>
<br>2. ifY.num $eq(5) <span data-rg-if="ifY.num $eq(5)" style="color:green">OK</span>
<br>4. ifY.str $eq(this.myStr) <span data-rg-if="ifY.str $eq(this.myStr)" style="color:green">OK</span>
<br>3. ifY.num $eq(this.myNum) <span data-rg-if="ifY.num $eq(this.myNum)" style="color:green">OK</span>
<br>4. ifY.num $lt(5.5) <span data-rg-if="ifY.num $lt(5.5)" style="color:green">OK</span>
<br>5. ifY.num $gte(this.myNum) <span data-rg-if="ifY.num $gte(this.myNum)" style="color:green">OK</span>
<br>6. ifY.num $in(this.myArr) <span data-rg-if="ifY.num $in(this.myArr)" style="color:green">OK</span>
<br>7. ifY.num $nin(this.myArr) <span data-rg-if="ifY.num $nin(this.myArr)" style="color:green">OK</span>
<br>8. ifY.str $reg(/^some/) <span data-rg-if="ifY.str $reg(/^some/)" style="color:green">OK</span>
<br>9. ifY.str $nreg(/^some/) <span data-rg-if="ifY.str $nreg(/^some/)" style="color:green">OK</span>
<br>10. ifY.str $nreg(/^nonsense/) <span data-rg-if="ifY.str $nreg(/^nonsense/)" style="color:green">OK</span>

<br><br>
<h4>DATA-RG-IF (child of the data-rg-print)</h4>
<button data-rg-click="toggleIF2()">toggle IF2</button>
<p data-rg-print="continent @@ append">
  <i data-rg-if="continent">CONTINENT:</i>
  <i data-rg-if="continent $not()">NO CONTINENT</i>
</p>
<br>or do this with the data-rg-switch:
<p data-rg-print="continent @@ append" data-rg-switch="continent">
  <i data-rg-switchcase="Europe">CONTINENT:</i>
  <i data-rg-switchdefault>NO CONTINENT</i>
</p>


<br><br>
<h4>DATA-RG-SWITCH</h4>
<p>Here are two tests. <br>First will show only one switchcase when red, blue, green is typed in the input field. Another test will show multiple switchcases.</p>
<i>-- switch one example</i>
<br><input type="text" data-rg-set="myColor" placeholder="type red, green or blue">
<ul data-rg-switch="myColor">
  <li data-rg-switchcase="red">red</li>
  <li data-rg-switchcase="green">green</li>
  <li data-rg-switchcase="blue">blue</li>
  <li data-rg-switchdefault>silver (default)</li>
</ul>
<br>
<br><i>--switch multiple example</i>
<br><button data-rg-click="runSWITCH()">run SWITCH</button>
<div data-rg-switch="obj.myColors @@ multiple">
  <p data-rg-switchcase="red2">red2</p>
  <p data-rg-switchcase="green2">green2</p>
  <p data-rg-switchcase="blue2">blue2</p>
  <p data-rg-switchdefault>silver2 (default)</p>
</div>


<br><br><br>
<h4>DATA-RG-ELEM</h4>
<button data-rg-click="runELEM()">run ELEM</button> <small>Click button multiple times to toggle the text color.</small>
<p style="font-weight:bold" data-rg-elem="myElem">catch this element and store in the controller object (this.rgelems)</p>


<br><br><br>
<h4>DATA-RG-ECHO</h4>
<span data-rg-echo="This is the echoed pure text!"></span>
<p data-rg-repeat="multiplikator" data-rg-echo="company name: {companies.$i0.name} -- company size: {companies.$i0.size}"></p>


<br><br>
<h4>DATA-RG-DISABLED</h4>
<button data-rg-click="toggleDISABLED()">toggle DISABLED</button> - disable/enable the INPUT element
<input type="text" style="width:32%" data-rg-disabled="isDisabled">


<br><br>
<h4>DATA-RG-CLASS</h4>
<button data-rg-click="runCLASS()">runCLASS</button>
<small>Open browser developer tools to see the effect after the button is clicked.</small>
<p class="my-italic" data-rg-class="myKlases">Class my-italic will remain</p>
<p class="my-italic" data-rg-class="myKlases @@ replace">Class my-italic will be removed due to @@replace</p>


<br><br>
<h4>DATA-RG-STYLE</h4>
<button data-rg-click="runSTYLE(21px, red)">run STYLE</button>
<p style="font-weight:bold" data-rg-style="myStajl">"font-weight:bold" will remain</p>
<p style="font-weight:bold" data-rg-style="myStajl @@ replace">"font-weight:bold" will be removed</p>


<br><br>
<h4>DATA-RG-ATTR</h4>
<button data-rg-click="runATTR()">run ATTR</button>
<br><a data-rg-attr="someURL @@ href" data-rg-print="someURL"></a>


<br><br>
<h4>DATA-RG-SRC</h4>
<button data-rg-click="runSRC()">run SRC</button>
<br><img data-rg-src="imageURL" style="width:130px;height:130px;"> -hasn't defaultSrc
<br><img data-rg-src="imageURL @@ https://via.placeholder.com/130" style="width:130px;height:130px;"> -has defaultSrc


<br><br><br>
<h4>DATA-RG-MODEL & DATA-RG-PRINT</h4>
<input type="text" data-rg-model="bander.name">
&nbsp; <span data-rg-print="bander.name"></span>
<br>
<br><select data-rg-model="bander.animal">
  <option value="cat">cat</option>
  <option value="dog">dog</option>
  <option value="horse">horse</option>
</select>
&nbsp; <span data-rg-print="bander.animal"></span>
<br>
<br><textarea data-rg-model="bander.article" cols="30" rows="10"></textarea>
&nbsp; <span data-rg-print="bander.article"></span>


<br><br>
<h4>DATA-RG-VALUE <button data-rg-click="setVALUES()">Set Values</button></h4>
string -- <input type="text" style="width:210px" data-rg-value="input_text01">
<br>undefined -- <input type="text" style="width:210px" data-rg-value="input_text_undefined">
<br>object -- <input type="text" style="width:210px" data-rg-value="input_text_obj">
<br>string in number -- <input type="number" style="width:210px" data-rg-value="input_numberAsString">
<br>object in textrea <br><textarea data-rg-value="input_text_obj" style="width:100px;height:80px;"></textarea>
<br>


<br><br>
<h4>DATA-RG-CHECKED <button data-rg-click="setCHECKED()">Set Checked</button></h4>
<input type="checkbox" name="my_chk1" value="Pin" data-rg-checked="checks1">Pin &nbsp;&nbsp;
<input type="checkbox" name="my_chk1" value="Rin" data-rg-checked="checks1"> Rin &nbsp;&nbsp;
<input type="checkbox" name="my_chk1" value="Tin" data-rg-checked="checks1"> Tin

<!-- This will also work
  <input type="checkbox" name="my_chk1" data-rg-value="checks1.0" data-rg-checked="checks1">Pin &nbsp;&nbsp;
  <input type="checkbox" name="my_chk1" data-rg-value="checks1.1" data-rg-checked="checks1"> Rin &nbsp;&nbsp;
  <input type="checkbox" name="my_chk1" data-rg-value="checks1.2" data-rg-checked="checks1"> Tin
 -->



<br><br>
<h4>DATA-RG-SPINNER <button data-rg-click="toggleSPINNER()">Toggle Spinner</button></h4>
<p data-rg-if="showSpinner">SPINNER - VISIBLE</p>
<p data-rg-if="showSpinner $not()">SPINNER - HIDDEN</p>
<div data-rg-spinner="showSpinner" style="border:3px solid orange;height:400px;width:40%;margin-left:130px;">SPINNER CONTAINER (the text is not shown)</div>


<br><br><br><br><br>
