<h1>DataRgListeners Test</h1>

<!-- examples -->

<h4>DATA-RG-HREF</h4>
<a href="/">LINK1 -- href="/"</a> - This will reload the page becasue there in no <b>data-rg-href</b> attribute.
<br><a href="/" data-rg-href>LINK2 -- href="/" data-rg-href</a> - This will not reload the page and will act as single page app link.
<br><a href="" data-rg-href="/">LINK3 -- href="" data-rg-href="/"</a> - This will not reload the page and will act as single page app link.

<h4>history</h4>
Click on the button to get the history data. Open the browser dev tools console.
<br><button data-rg-click="historyData()">Show window.history</button>


<br><br>
<h4>DATA-RG-CLICK</h4>
<button data-rg-click="runCLICK(5, 'str', 8, 9, $element)">Fetch Data</button> <small>Click the button to fetch JSON from the server.</small>
<br><small data-rg-print="answer.res.content @@ append">DATA:</small>
<br>
<br><button data-rg-click="print.inConsole.makeRed($element)">CLICK</button> - run function defined in the controller property, for example <i>print.inConsole.makeRed($element)</i>
<br>
<br><button data-rg-click="runCLICK2(this.products)">CLICK 2</button> - test function argument as controller property, for example <i>data-rg-click="runCLICK2(this.products)"</i>
<br><button data-rg-click="runCLICK2(this.products.1.name)">CLICK 2</button> - test function argument as controller property, for example <i>data-rg-click="runCLICK2(this.products.1.name)"</i>
<br>
<br><button data-rg-click="runCLICK3('some text', 333, false, /as$/)">CLICK 3</button> - test different function argumant types: string, number, boolean, regexp</i>
<br>
<br><input value="Perica" data-rg-click="runCLICK4($value)"> - click on the input field
<br>
<br><button data-rg-click="runCLICK5a('My friend');runCLICK5b(88);">CLICK 5</button> - run two controller methods


<br><br>
<h4>DATA-RG-KEYUP</h4>
Focus the INPUT field, type some letters and press enter. (Open console to watch the result.)
<br><input type="text" style="width:210" data-rg-keyup="runKEYUP($element, $value, $event)"> - bind to all keyup event codes
<br><input type="text" value="123.45" style="width:210" data-rg-keyup="runKEYUP($element, $value, $event) @@ enter"> - bind to "enter" keyup event.code


<br><br>
<h4>DATA-RG-CHANGE</h4>
Execute controller method on element's "change" event. <br>
<input type="text" data-rg-change="runCHANGE(1, $value)"> <span data-rg-print="change1"></span>
<br>
<br>
<select data-rg-change="runCHANGE(2, $value)">
  <option value="one">one</option>
  <option value="two" selected>two</option>
  <option value="three">three</option>
</select>
<ol data-rg-switch="change2">
  <li data-rg-switchcase="one">ONE</li>
  <li data-rg-switchcase="two">TWO</li>
  <li data-rg-switchcase="three">THREE</li>
</ol>
<div>
  Selected value is: <b data-rg-print="change2"></b>
  <p data-rg-if="change2 $eq(three)" style="color:blueviolet">The selected value is <b data-rg-print="change2 @@ inset"></b> (data-rg-if example).</p>
</div>


<br><br>
<h4>DATA-RG-EVT</h4>
<span style="font-weight:bold" data-rg-evt="
  mouseenter @@ runEVT($element, $event, 'red') &&
  mouseleave @@ runEVT($element, $event, 'green') &&
  click @@ runEVT($element, $event, 'blue')
">mouseenter and click this text</span>



<br><br>
<h4>DATA-RG-SET</h4>
Set the controller value on "input" JS DOM event i.e. on every input change.
<br>
<input type="checkbox" name="my_set1" data-rg-set="mySet1" value="125"> 125 &nbsp;&nbsp;
<input type="checkbox" name="my_set1" data-rg-set="mySet1" value="sasa" checked> sasa &nbsp;&nbsp;
<input type="checkbox" name="my_set1" data-rg-set="mySet1" value="true"> true
&nbsp;&nbsp; <span data-rg-print="mySet1"></span>
<br>
<br>
<select data-rg-set="mySet2" size="5" multiple>
  <option value="225" selected>225</option>
  <option value="18.923">18.923</option>
  <option value="false" selected>false</option>
  <option value='{"x": 22, "y":"something", "z": true}'>{"x": 22, "y":"something", "z": true}</option>
  <option value="Tom">Tom</option>
</select>
&nbsp;&nbsp; <span data-rg-print="mySet2"></span>
<br>
<br>
<!-- data-rg-setinitial="mySet3" will set $model.mySet3 to "Dara" -->
<i>Notice: The "Dara" will be default value because of data-rg-setinitial.</i>
<br><select data-rg-set="mySet3" data-rg-setinitial="mySet3">
  <option value="Lara">Lara</option>
  <option value="Dara" selected>Dara</option>
  <option value="Mara">Mara</option>
</select>
&nbsp;&nbsp; <span data-rg-print="mySet3"></span>
<br>
<br>
<input type="radio" name="my_set4" data-rg-set="mySet4" value="YES"> YES &nbsp;&nbsp;
<input type="radio" name="my_set4" data-rg-set="mySet4" value="NO" checked> NO
&nbsp;&nbsp; <span data-rg-if="mySet4 $eq(YES)" data-rg-print="mySet4" style="color:green"></span>
&nbsp;&nbsp; <span data-rg-if="mySet4 $eq('NO')" data-rg-print="mySet4" style="color:red"></span>
<br>
<br>
<input type="number" value="88.21" data-rg-set="mySet5"> &nbsp;&nbsp; <span data-rg-print="mySet5"></span>
<br>
<br>
<input type="text" value="Saša" data-rg-set="mySet9"> &nbsp;&nbsp; <span data-rg-print="mySet9"></span>


<br><br>
<h4>DATA-RG-MODEL</h4>
<input type="text" data-rg-model="myMDL"> - data-rg-model
<br><input type="text" data-rg-value="myMDL" data-rg-set="myMDL"> - data-rg-value and data-rg-set
<br><button data-rg-click="runMODEL()">Change controller value</button>
<br>Value is: <b data-rg-print="myMDL"></b>
<br>
<br>

Go to <a href="" data-rg-href="/playground/datarg">/playground/datarg</a>, press Back browser button and the make tests again.

<br><br><br><br><br>
