img.logo-icon {
  height: 55px;
}

table {
  font: 12px Verdana;
}

.docs-header>h1 {
  color: Navy;
}

.docs-intro>i {
  color:Navy;
}

ul.methods>li {
  &>b {
    color: #6da6f5;
    font-size: larger;

    &>i {
      font-size: smaller;
      color: #A4C4F2;
    }
  }

  & p {
    font: 14px Verdana;
  }
}


div.play-desc {
  border: 1px solid silver;
  padding: 8px;
  background-color: #fcfcfc;
  font: 14px Arial;
}
